body {
    font-family:'Lato',sans-serif;
    color: #777404;
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title, .subtitle {
    text-align: right;
}

.title-logo {
    margin-top:20px;
}